.footer {
  margin-top: 140px;
  padding: 110px 0;
  text-align: center;
  @include bgc($bg-color);
  &-heading {
    font-size: 48px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 15px;
  }
  &-desc {
    max-width: 664px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: $gray-secondary;
  }
  &-social {
    padding-top: 100px;
  }
  &-social-link {
    display: inline-block;
    text-decoration: none;
    & + & {
      margin-left: 50px;
    }
  }
  &-social-icon {
    @include size(35px);
  }
  @include maxWidth(1279px) {
    &-heading {
      font-size: 42px;
    }
  }
  @include maxWidth(1023px) {
    padding: 65px 0;
    &-heading {
      font-size: 32px;
    }
    &-desc {
      font-size: 16px;
    }
    &-social {
      padding-top: 60px;
    }
    &-social-icon {
      @include size(25px);
    }
  }
  @include maxWidth(767px) {
    &-heading {
      font-size: 26px;
    }
    &-social {
      padding-top: 40px;
    }
  }
  @include maxWidth(599px) {
    margin-top: 80px;
    padding: 52px 0;
    &-social-link {
      & + & {
        margin-left: 42px;
      }
    }
  }
  @include maxWidth(424px) {
    padding: 32px 0;
    &-desc {
      font-size: 14px;
    }
    &-social-link {
      & + & {
        margin-left: 20px;
      }
    }
    &-social-icon {
      @include size(22px);
    }
  }
}
